[Desktop Entry]
Type=Application
Exec=wine "C:\Program Files (x86)\1Password 4\Agile1pAgent.exe"
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=1Password Helper
Name=1Password Helper
