[Desktop Entry]
Type=Application
Exec=/bin/zsh -c --login "/home/hild/.bin/xsession.sh"
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=My random session stuff
